<?xml version="1.0" encoding="UTF-8" ?>
       <!DOCTYPE configuration
         PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
         "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Student"
			type="cn.linshangyao.mybatis_demo.models.Student" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://cloud.linshangyao.cn:3306/menagerie" />
				<property name="username" value="yao" />
				<property name="password" value="lsyslsy" />
			</dataSource>
		</environment>
	</environments>

</configuration>